build/
*.egg-info
dist/
*.pyx
*.pyc
__pycache__
*.swp

# editors
.vscode
.idea

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

# coverage files
.coverage
coverage.xml
.coverage.*

.venv
.ipynb_checkpoints/
.pytest_cache/*
.pytest_cache

conda_forge_conda_plugins/_version.py
