name: tests

on:
  push:
    branches:
      - master
  pull_request: null

env:
  PY_COLORS: "1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: tests
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -leo pipefail {0}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v1
        with:
          environment-file: environment.yml
          environment-name: conda-forge-conda-plugins

      - name: configure conda and install code
        run: |
          pip install --no-deps --no-build-isolation -e .

      - name: test versions
        run: |
          pip uninstall conda-forge-conda-plugins --yes
          [[ $(python setup.py --version) != "0.0.0" ]] || exit 1

          rm -rf dist/*
          python setup.py sdist
          pip install -vv --no-deps --no-build-isolation dist/*.tar.gz
          cd ..
          python -c "import conda_forge_conda_plugins; assert conda_forge_conda_plugins.__version__ != '0.0.0'"
          cd -
          pip uninstall conda-forge-conda-plugins --yes

          rm -rf dist/*
          python -m build --sdist . --outdir dist
          pip install --no-deps --no-build-isolation dist/*.tar.gz
          cd ..
          python -c "import conda_forge_conda_plugins; assert conda_forge_conda_plugins.__version__ != '0.0.0'"
          cd -
          pip uninstall conda-forge-conda-plugins --yes

          python -m pip install -v --no-deps --no-build-isolation -e .

      - name: run pytest
        run: |
          pytest -vvs tests
